.registerWrapper {
  background-color: #282a37;
  height: auto;
  background-image: linear-gradient(
      77deg,
      rgba(40, 42, 55, 1) 10%,
      rgba(40, 42, 55, 1) 10%,
      rgba(40, 42, 55, 1) 62%,
      rgba(40, 42, 55, 0.1) 100%
    ),
    url(../img/img-1.png);

  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 108px;
  padding-top: 51px;
}
.register {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  color: #00b960;
  font-size: 48px;
  height: 48px;
  padding-top: 8px;
  margin-left: 8px;
  cursor: pointer;
}
.logo p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  margin-left: 10px;
  background: linear-gradient(180deg, #00b960 -14.58%, #00552c 175%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  color: #fff;
  margin-top: 48px;
}
.title span {
  color: #00b960;
}
.firstname {
  display: flex;
  margin-top: 57.5px;
}
.firstname input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a8a7a7;
  font-size: 16px;
  font-weight: 400;
  width: 217px;
  height: 24px;
  position: static;
}
.firstname input::placeholder {
  color: #ffffff;
  opacity: 1;
  border-bottom: 1px solid #a8a7a7;
}
.lastname {
  margin-left: 36px;
}
.formWrapper {
  width: 470px;
  border-bottom: 1px solid #00b960;
  padding-bottom: 24px;
}
/* input:focus,
textarea:focus,
select:focus {
  outline: none;
  color: #fff;
} */
.formWrapper input:active,
.formWrapper input:focus {
  outline: none;
}
.formWrapper input::placeholder {
  color: #fff;
  opacity: 1;
}
.username {
  margin-top: 56px;
}

.username input::placeholder {
  color: #fff;
  opacity: 1;
}

.username input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  background-color: transparent;
  color: #fff;
  width: 470px;
  height: 24px;
  border: none;
  border-bottom: 1px solid #a8a7a7 !important;
}
.username input:focus {
  border: none;
  border-bottom: 1px solid #a8a7a7;
}

.birth {
  margin-top: 47.5px;
  width: 470px;
}
.birthInput {
  width: 100% !important;
}
.radio {
  display: flex;
  margin-top: 43px;
}
.active {
  color: #fff;
}
.admin {
  margin-left: 40px;
}
.sign {
  border-bottom: 1px solid #00b960;
  width: 470px;
  padding-bottom: 24px;
}
.signbtn {
  background-color: #00b960;
  color: #fff;
  width: 470px;
  height: 56px;
  border-radius: 100px;
  margin-top: 53px;
  cursor: pointer;
}

.noacc {
  width: 470px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 24px;
  text-align: center;
  padding-bottom: 30px;
}
.noacc span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #00b960;
  cursor: pointer;
}
.login {
  color: #00b960;
  text-decoration: none;
}
