.postWrapper {
  padding-top: 18px;
}
.post {
  padding: 32px;
  justify-content: center;
  align-items: center;
  width: 908px;
  height: 878px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}
.avatar {
  width: 64px;
  height: 64px;
  margin-right: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.personal {
  display: flex;
}
.personal p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: #161616;
}
.accessibility {
  padding: 8px 0;
  display: flex;
}
.passenger {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 292px; */
  /* height: 47px; */
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}
.passenger p {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
}
.picnic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* width: 170px; */
  /* height: 47px; */
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin-left: 20px;
}
.picnic p {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
}
.date {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 24px;
  color: #a8a7a7;
}
.postTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  margin-bottom: 18px;
}
.postImg {
  width: 844px;
  height: 584px;
  border-radius: 16px;
}
.repost {
  display: flex;
  align-items: center;
  margin-left: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.repost i:first-child {
  color: #00b960;
}
.hulk {
  color: #00b960;
}

.repost span {
  margin-left: 18.66px;
  margin-right: 40.66px;
}
.place {
  margin-left: auto;
  margin-right: 52px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
}
